body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: #00FF00; /* Bright green text */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: left;
    background-color: black;
    padding: 20px;
    border: 2px solid #00FF00;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
}

input {
    background-color: black;
    color: #00FF00;
    border: 1px solid #00FF00;
    padding: 10px;
    margin-top: 10px;
    width: 95%;
    font-family: 'Courier New', Courier, monospace;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: black;
    color: #00FF00;
    border: 1px solid #00FF00;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: #00FF00;
    color: black;
}

#taskResult {
    margin-top: 20px;
    font-size: 18px;
    color: #00FF00;
}

pre {
    text-align: center;
}
